html {
    /* Setting a base font size of 10px give us easier rem calculations
         Info: 1rem === 10px, 1.5rem === 15px, 2rem === 20px and so forth
       */
    font-size: 10px;
  }
  
  body {
    /* Native font stack https://getbootstrap.com/docs/4.2/content/reboot/#native-font-stack */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Helvetica Neue', Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: #333;
    margin: 0;
  }

  #Early {
    background-image: url('bg/20240330_132341.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    border-radius: 5px; 
    background-blend-mode: lighten;
    background-color: rgba(255,255,255,0.8);
  }

  #Leader {
    background-image: url('bg/gettyimages-515384750.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    border-radius: 5px; 
    background-blend-mode: lighten;
    background-color: rgba(255,255,255,0.8);
  }

  #Controversy{
    background-image: url('bg/20240330_123125.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    border-radius: 5px; 
    background-blend-mode: lighten;
    background-color: rgba(255,255,255,0.8);
  }

  #quote{
    background-color: #c6b5b5;
  }

  #tribute-info {
    list-style: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  } 
  
  #banner {
    position: relative;
    width: 100%; 
    margin-bottom: 10px; 
  }

  #banner img {
    width: 100%; 
    height: auto;
    opacity: 0.8; 
  }

  #banner-text {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #000000;
    text-shadow: 1px 1px 3px rgb(255, 255, 255);
  }

  h1 {
    font-size: 4rem;
    margin-bottom: 0;
  }
  
  @media (max-width: 460px) {
    h1 {
      font-size: 3.5rem;
      line-height: 1.2;
    }
  }
  
  h2 {
    font-size: 3.25rem;
    margin-top: 30px;
    color: #5c3d2e;
  }
  
  a {
    color: #477ca7;
  }
  
  a:visited {
    color: #74638f;
  }
  
  #main {
    border-radius: 5px;
  }
  
  @media (max-width: 460px) {
    #main {
      margin: 0;
    }
  }
  
  img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
  }
  
  #img-div {
    background: white;
    padding: 10px;
    margin: 0;
  }
  
  #img-div img {
    max-width: 45%;
    height: auto;
    display: inline-block;
    margin: 10px;

  }

  #image-early { 
    max-width: 20%; 
    height: auto;
    float: left; 
    margin: 5px 5px 10px 200px;
  }

  #image-leader { 
    max-width: 15%; 
    height: auto;
    float: left; 
    margin: 5px 5px 10px 200px;
  }

  #img-caption {
    margin: 15px 0 5px 0;
  }
  
  @media (max-width: 460px) {
    #img-caption {
      font-size: 1.4rem;
    }
  }
  
  #headline {
    margin: 50px 0;
    text-align: center;
  }
  
  ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
  }
  
  li {
    margin: 16px 0;
  }
  
  blockquote {
    font-style: italic;
    max-width: 545px;
    margin: 0 auto 50px auto;
    text-align: left;
  }

  #two-columns {
    column-count: 2; 
    column-gap: 30px;  
  }

  .break-here {
    break-before: column;
}

